* {
	box-sizing: border-box;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

input {
	padding: 0;
	margin: 0;
	border: 0;

	&:focus-visible {
		outline: none;
	}
}

button {
	border: 0;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	background: transparent;
	color: inherit;
	font: inherit;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
	appearance: none;
	-webkit-appearance: none;
	line-height: 0;
	cursor: pointer;
}
