:root {
	--color-white: #ffffff;
	--color-grey: #2e2e2e;
	--color-grey2: #bbcdd6;
	--color-grey3: #999;
	--color-grey4: #f3f3f3;
	--color-red: #fb6262;

	--color-blue: #548eaa;
	--color-blue2: #a3c4e2;

	--box-shadow: 0px 0px 8px 3px var(--color-grey2);
}

:root {
	--icon-size: 20px;
}
